@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0; list-style:none; text-decoration:none;}
p{font-size:50px; background:#ccc;}
div{width:100px; height:100px; margin:10px auto; border:1px solid #000;}