﻿<!doctype html>
<html ng-app="index">
<head>
<meta charset="utf-8">
<title>智能课堂 —— 微博ajax接口测试 - www.zhinengshe.com</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css" />
<script src="angular.js"></script>
<script>
var app = angular.module('index',[]);
app.controller('main',function($scope,$http){
	$http.get('weibo.php',{
		params:{
			act:'get',
			page:1
		}
	})
	.success(function(result){
		$scope.arr = result;
	})
	.error(function(){});
});
</script>
</head>

<body ng-controller="main">
<div class="znsArea">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="tijiaoText"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" id="send_btn" />
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="noContent" id="nc" ng-show="arr.length==0">暂无留言</div>
        <div class="messList" id="msgList">
        	<div class="reply" ng-repeat="item in arr">
                <p class="replyContent">{{item.content}}</p>
                <p class="operation">
                    <span class="replyTime">{{item.time}}</span>
                    <span class="handle">
                    	<a href="javascript:;" class="top">{{item.acc}}</a>
                        <a href="javascript:;" class="down_icon">{{item.ref}}</a>
                        <a href="javascript:;" class="cut">删除</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="page" id="page">
        	<!--<a href="javascript:;" class="active">1</a>
        	<a href="javascript:;">2</a>
        	<a href="javascript:;">3</a>-->
        </div>
    </div>
</div>
</body>
</html>
