<!doctype html>
<html ng-app="index">
<head>
<meta charset="utf-8">
<meta name="author" content="智能社 - zhinengshe.com" />
<meta name="copyright" content="智能社 - zhinengshe.com" />
<meta name="description" content="智能社是一家专注于web前端开发技术的公司，目前主要提供JavaScript培训和HTML5培训两项服务，同时还推出了大量javascript基础知识教程，智能课堂为你带来全新的学习方法和快乐的学习体验。" />
<title>智能社— http://www.zhinengshe.com</title>
<style>
</style>
<script src="angular.js"></script>
<script>
var app = angular.module('index',[]);
app.controller('main',function($scope){
	$scope.a = '0';
	$scope.b = '0';
	$scope.parInt=function(arg){
		return parseInt(arg);
	};
});
</script>
</head>

<body ng-controller="main">
<input type="text" ng-model="a" />
<input type="text" ng-model="b" />
{{parInt(a)+parInt(b)}}
</body>
</html>












